### K_Nearest_Neighbour (Practical)
Theory will already cover in perivois classes

In [48]:
import pandas as pd
df=pd.read_csv("salary.csv")

In [49]:
df["gender"]=df["gender"].replace("Male",1)
df["gender"]=df["gender"].replace("female",0)

In [50]:
## selection of input and out put variables 
X=df[["weight","gender","Age","YearsExperience"]]
y=df["likeness"]

In [51]:
df.head()

   YearsExperience   Age  Salary  gender likeness  weight
0              1.1  21.0   39343       1  Biryani   102.0
1              1.3  21.5   46205       1  Biryani   199.0
2              1.5  21.7   37731       1   samosa    88.0
3              2.0  22.0   43525       1  Biryani   102.0
4              2.2  22.2   39891       0   samosa   102.0

In [52]:
X.head()

   weight  gender   Age  YearsExperience
0   102.0       1  21.0              1.1
1   199.0       1  21.5              1.3
2    88.0       1  21.7              1.5
3   102.0       1  22.0              2.0
4   102.0       0  22.2              2.2

In [53]:
y.head()

0    Biryani
1    Biryani
2     samosa
3    Biryani
4     samosa
Name: likeness, dtype: object

##### use 80% and 20% percent role

In [54]:
from sklearn.neighbors import KNeighborsClassifier
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
model=KNeighborsClassifier(n_neighbors=5) 
### model creation()
model.fit(X,y)
model_prediction=model.predict([[1.1,21.0,102.0,1]])
model_prediction

c:\Users\Arbaz Arshad\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['samosa'], dtype=object)

In [55]:
model_prediction=model.predict(X)
model_prediction

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'samosa',
       'samosa', 'samosa', 'Biryani', 'Biryani', 'Biryani', 'samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani'],
      dtype=object)

### tell me score of splitting data (prediction)

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.neighbors import KNeighborsClassifier
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
### model creation()
model=KNeighborsClassifier(n_neighbors=5) 

model.fit(X_train,y_train)
model_prediction=model.predict(X_test)
model.score(X_test,y_test)

0.6666666666666666