In [36]:
### Decision tree classifier?
import pandas as pd
df=pd.read_csv("salary.csv")
df.head()

   YearsExperience   Age  Salary  gender likeness  weight
0              1.1  21.0   39343    Male  Biryani   102.0
1              1.3  21.5   46205    Male  Biryani   199.0
2              1.5  21.7   37731    Male   samosa    88.0
3              2.0  22.0   43525    Male  Biryani   102.0
4              2.2  22.2   39891  female   samosa   102.0

In [37]:
df["gender"]=df["gender"].replace("Male",1)
df["gender"]=df["gender"].replace("female",0)
df.head()

   YearsExperience   Age  Salary  gender likeness  weight
0              1.1  21.0   39343       1  Biryani   102.0
1              1.3  21.5   46205       1  Biryani   199.0
2              1.5  21.7   37731       1   samosa    88.0
3              2.0  22.0   43525       1  Biryani   102.0
4              2.2  22.2   39891       0   samosa   102.0

In [38]:
## selection of input variable and output variable
X=df[["weight","gender"]]
y=df["likeness"]

In [39]:
X.head()

   weight  gender
0   102.0       1
1   199.0       1
2    88.0       1
3   102.0       1
4   102.0       0

In [40]:
y.head()

0    Biryani
1    Biryani
2     samosa
3    Biryani
4     samosa
Name: likeness, dtype: object

In [41]:
## import libraries\
from sklearn.tree import DecisionTreeClassifier
### MODEL_CREATION
model=DecisionTreeClassifier()
model.fit(X,y)
model.predict([[199.0,0]])

c:\Users\Arbaz Arshad\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [42]:
### how to measure accuracy of model 
## import libraries 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)## use 80% and 20% data role
## model creation
model=DecisionTreeClassifier()
### model fiting
model.fit(X_train,y_train)
predicted_values=model.predict(X_test)
predicted_values
### Measure the accuracy score of our model
model=accuracy_score(y_test,predicted_values)
model

0.6666666666666666

### how to train and safe your model 
- joblib library are used

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)## use 80% and 20% data role
## model creation
model=DecisionTreeClassifier()
### model fiting
model.fit(X_train,y_train)
predicted_values=model.predict(X_test)
predicted_values
### Measure the accuracy score of our model
model=accuracy_score(y_test,predicted_values)
joblib.dump(model,"likeness_model.joblib")

['likeness_model.joblib']

#### ghraphically representation odf our model

In [49]:
# graph
from sklearn import tree
model=DecissionTreeClassifier().fit(X,y)
## graph evalution/looking for what happend
tree.export_graphviz(model,
                     out_file="likeness_model.dot",
                     feature_names=["age","gender"],
                     class_names=sorted(y.unique()),
                     label="all",
                     rounded=True,  ## point value round off 
                     filled=True)

NameError: name 'DecissionTreeClassifier' is not defined